<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Catalog</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <img src="{% static 'images/logo2.jpg' %}" alt="Логотип">
    </header>

    <!-- Фильтрация по цене -->
    <form method="get" class="price-filter-form">
        <label for="id_min_price">Min. price:</label>
        {{ form.min_price }}

        <label for="id_max_price">Max. price:</label>
        {{ form.max_price }}

        <!-- Фильтрация по категориям -->
        <label for="category">Category:</label>
        <select name="category" id="category">
            <option value="">All category</option>
            {% for category in categories %}
                <option value="{{ category.id }}"
                    {% if request.GET.category == category.id|stringformat:"s" %}
                        selected
                    {% endif %}
                >
                    {{ category.name }}
                </option>
            {% endfor %}
        </select>

        <button type="submit">Apply filter</button>
    </form>

    <h1>Product Catalog</h1>
    <div class="product-list">
        {% for product in page_obj %}
            <div class="product-card">
                <img src="{{ product.image.url }}" alt="{{ product.name }}" class="product-image">
                <h3>{{ product.name }}</h3>
                <p>{{ product.description }}</p>
                <p class="price">Цена: {{ product.price }}</p>
                <button class="add-to-cart">Add to cart</button>
            </div>
        {% empty %}
            <p>No products found.</p>
        {% endfor %}
    </div>

    <a href="{% url 'home' %}">To the main page</a>

    <!-- Перемещение по страницам -->
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1{% if request.GET.category %}&category={{ request.GET.category }}{% endif %}">First</a>
                <a href="?page={{ page_obj.previous_page_number }}{% if request.GET.category %}&category={{ request.GET.category }}{% endif %}">Previous</a>
            {% endif %}

            <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}{% if request.GET.category %}&category={{ request.GET.category }}{% endif %}">Next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}{% if request.GET.category %}&category={{ request.GET.category }}{% endif %}">The last one</a>
            {% endif %}
        </span>
    </div>

</body>
</html>
